# DataFrames Personal Exercises

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data ={'ProductName':['Product A','Product B','Product C'],'ProductPrice':[22250,16600,12500]}
data

{'ProductName': ['Product A', 'Product B', 'Product C'],
 'ProductPrice': [22250, 16600, 12500]}

In [6]:
df=pd.DataFrame(data,index=[1,2,3])
df

  ProductName  ProductPrice
1   Product A         22250
2   Product B         16600
3   Product C         12500

In [8]:
ProductID=[1,2,3] 
df=pd.DataFrame(data,index=ProductID)
df

  ProductName  ProductPrice
1   Product A         22250
2   Product B         16600
3   Product C         12500

# Create DataFrame from list of Dictionaries

In [11]:
datas=[{'ProductName':'Product A','ProductPrice':22250},
      {'ProductName':'Product B','ProductPrice':16600},
      {'ProductName':'Product C','ProductPrice':12500}]
dfs=pd.DataFrame(datas,index=[1,2,3])
dfs

  ProductName  ProductPrice
1   Product A         22250
2   Product B         16600
3   Product C         12500

#